Package: druid
Essential: no
Priority: optional
Section: main
Maintainer: nebul4ck <a.gonzalezmesas@gmail.com>
Architecture: amd64
Version: 0.11.0
Homepage: druid.io/
Description: Druid is a high-performance, column-oriented, distributed data store.
