[Unit]
Description=Historical Service
Documentation=http://druid.io

[Service]
Type=simple

User=druid
Group=druid

Environment='CLASSPATH=/opt/druid/lib/*:/opt/druid/conf/_common:/opt/druid/conf/_common/hdfs:/opt/druid/conf/historical'
Environment='JMX=-Dcom.sun.management.jmxremote.port=17072 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false'
Environment='TMP=/opt/druid/tmp/historical'

ExecStart=/usr/bin/java -server -Xmx8g -Xms8g -XX:NewSize=512m -XX:MaxNewSize=512m -XX:MaxDirectMemorySize=3g -Duser.timezone=UTC -Dfile.encoding=UTF-8 \
			-Djava.io.tmpdir=${TMP} -Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager \
			-Dorg.jboss.logging.provider=slf4j -Dnet.spy.log.LoggerImpl=net.spy.memcached.compat.log.SLF4JLogger \
			-Dlog4j.shutdownCallbackRegistry=io.druid.common.config.Log4jShutdown -Dlog4j.shutdownHookEnabled=true \
			-Dlog4j.configurationFile=/opt/druid/conf/historical/log4j2.xml \
			-XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintGCTimeStamps -XX:+PrintGCApplicationStoppedTime \
			-XX:+PrintGCApplicationConcurrentTime -Xloggc:${TMP}/historical.gc.log -XX:+UseGCLogFileRotation \
			-XX:NumberOfGCLogFiles=5 -XX:GCLogFileSize=10m -XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError \
			-XX:HeapDumpPath=${TMP}/historical.hprof -XX:+PerfDisableSharedMem -XX:+UseConcMarkSweepGC -XX:-UseBiasedLocking \
			-classpath ${CLASSPATH} io.druid.cli.Main server historical

# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM

# Java process is never killed
SendSIGKILL=yes
#OOMScoreAdjust=1000
Restart=on-failure
RestartSec=2000ms

[Install]
WantedBy=default.target
